:root {
    --primary-text: #fff;
    --primary-background: #f55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
    color: var(--primary-text);
    background-color: var(--primary-background);
}

body, input, button {
    font-family: "Ubuntu", Roboto, Arial, Helvetica, sans-serif;
}

#main-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}